doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet' href='/stylesheets/w3.css')
    link(rel='icon', href='/images/jcr-favicon.png')
    script(type='text/javascript', src='/javascripts/showHide.js')
  body
    block content
