doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet' href='/stylesheets/w3.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='icon', href='/images/jcr-favicon.png')
  body
    block content
