body {
    background-color: powderblue;
    margin: 0;
}

h1 {
    color: blue;
}

p {
    color: red;
}

.wrapingimage {  
    float: right;   
    margin: 30px 12px 3px 4px;   
    border: 2px solid blue;
}

.index {
    width: 22%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
}

.index2 {
    position: fixed;
}

.data {
    padding-right: 1%;
}